
body {
    display: grid;
    grid-template-columns: 1fr 20fr 1fr;
    grid-template-rows: 1fr 80fr 1fr;
    font-family: "Helvetica Neue",sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #1a237e;
}

.loading-bar {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url(giphy.gif);
    background-position: 50% 50%;
    background-color: #a6adbd;
    background-repeat: no-repeat;

}

body.loading {
    overflow: hidden;
}

body.loading .loading-bar {
    display: block;
}

.all {
    grid-column: 2/3;
    grid-row: 2/3;
}

.allH {
    grid-column: 2/3;
    grid-row: 1/3;
    margin-top: 5%;
}


.block {
    margin-top: 1%;


}

.container {

    position: relative;
    width: 15%;
    background-image: url(flag.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
}

.container p {
    color: #a70006;
    font-size: 70px;
    text-shadow: 0 1px 0 hsl(174, 5%, 80%),
        0 2px 0 hsl(174, 5%, 75%),
        0 3px 0 hsl(174, 5%, 70%),
        0 4px 0 hsl(174, 5%, 66%),
        0 5px 0 hsl(174, 5%, 64%),
        0 6px 0 hsl(174, 5%, 62%),
        0 7px 0 hsl(174, 5%, 61%),
        0 8px 0 hsl(174, 5%, 60%),

        0 0 5px rgba(0, 0, 0, .05),
        0 1px 3px rgba(0, 0, 0, .2),
        0 3px 5px rgba(0, 0, 0, .2),
        0 5px 10px rgba(0, 0, 0, .2),
        0 10px 10px rgba(0, 0, 0, .2),
        0 20px 20px rgba(0, 0, 0, .3);
}

.container a {
    display: flex;
    font-weight: bold;
    color: #1353b4;
    font-size: 25px;
    justify-content: center;

}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 1;
}

body {

    background-color: #a6adbd;
}


.butt {

    font-weight: bold;
}



.back {
    font-size: 15px;
    font-weight: bold;
}

.party {

    display: flex;
    flex-direction: row;
    align-content: space-around;
}


.rights {
    margin-top: 5%;
    text-align: center;
    font-family: cursive;
}

.rowA {

    display: flex;
    flex-direction: row;
    width: 100%;


}

.table1 {
    width: 80%;
    margin-left: 5%;
}

.paragraph {
    width: 100%;

}

.rowB {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-content: space-around;

}

.tableflex2 {
    width: 80%;
    margin-right: 2%;
}

.tableflex3 {
    width: 80%;
    margin-left: 2%;
}
.loading-bar h2{
    color:red;
    text-align: center;
}

h2{
    color: #834442;
}
button{
    color: #834442;
}

.dropdown-menu{
    background-color: #834442;
  
 
}
a{
     color:darkblue;
}
td{
         color: maroon;
}
nav a {
    color:beige;
}
.names{
    color:darkblue;
}
audio{
    width: 20%;
 height: 0;
    
}
.head{
    background-image:url(statistics.png);
    background-repeat:round;
    background-size:cover;
    
}
.dropdown-item{
    font-size: 16px;
    font-variant-caps:petite-caps;
   
}
#more {
    display: none;
}